$extra-light-color: #dedede;
$light-color: #a9a9a9;
$medium-color: #525679;
$dark-color: #4b4b4b;
$black-color: #030303;
$white-color: #fff;
$accent-color: #3fa3ff;
$dark-accent-color: #0101ff;
$background-color: #f2f4f8;
$dark-background-color: #231c70;
$modal-background-color: rgba(45, 42, 42, 0.2);
$bright-color: #da1b41;
