@use "../../styles/partials/variables";
@use "../../styles/partials/mixins";

.profile {
  @include mixins.font(28px, 400);
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 56px;
  color: variables.$black-color;
}

@media screen and (max-width: 500px) {
  .profile {
    font-size: 18px;
  }
}
