@use '../../styles/partials/variables';

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 30px;

  &__spinner {
    width: 60px;
    height: 60px;
    border: 4px solid variables.$extra-light-color;
    border-left-color: variables.$accent-color;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
